* {
    box-sizing: border-box;
}

html {
    font-family: 'Oswald', sans-serif;
}

body {
    margin: 0px;
}

header {
    box-shadow: 0 2px 8px #3F4041;
    padding: 0.5rem;
    background-color: #063970;
    color: #eeeee4;
    text-align: center;
    margin-bottom: 2rem;
}

section {
    width: 90%;
    max-width: 40rem;
    margin: auto;
}

.healthbar {
    width: 100%;
    height: 40px;
    border: 1px solid #3F4041;
    margin: 1rem 0;
    background: #eeeee4;
}

.healthbar__value {
    background-color: #118C4F;
    width: 100%;
    height: 100%;
}